body{
  margin: 0;
  background-image: url(img/Background.jpg);
}
nav::after, img::after, footer::after, .address::after ,.mail::after, .left::after {
  content: "";
  clear: both;
  display: block;
}
header{
  margin: auto;
  width: 1188px;
}
nav{
  margin-top: 30px;
}
.title{
  font: 40px;
  margin-top: 0px;
  float: left;
}
ul{
  float: right;
  display: block;
  margin-top: 30px;
}
nav li{
  text-decoration: none;
  list-style: none;
  color: RGB(0, 0, 0);
  padding-left: 30px;
  float: left;
  font-size: 18px;
}
li:hover{
  color: RGB(255, 179, 167);
  position: relative;
  top: 1px;
  left: 1px;
}
.p1, .p2{
  width: 1188px;
  font-size: 24px;
  text-align: center;
  margin: auto;
}
.p1{
  margin-top: 20px;
  margin-bottom: 12px;
}
.p2{
  margin-bottom: 20px;
}
.img{
  width: 1190px;
  margin: auto;
}
.figure2{
  margin-left: 20px;
  margin-right: 20px;
}
.p3{
  line-height: 40px;
  font-size: 22px;
  width: 1188px;
  margin: 20px auto;
}
img{
  border-radius: 3px;
}
.footer{
  width: 1188px;
  margin: auto;
}
footer{
  color: white;
  height: auto;
  width: auto;
  background-color: RGB(105, 50, 10);
}
footer .left{
  float: left;
}
footer .right{
  float: right;
  margin-top: 59px;
  margin-right: 15px;
}
.address p, .mail p{
  margin-left: 10px;
  float: right;
}
.address, .mail{
  margin-top: 30px;
}
.mail p{
  margin-right: 85px;
}
.right img:hover, .left img:hover{
  transform: scale(1.3);
}
.figure4{
  width: 0px;
  visibility: hidden;
}

@media screen and (max-width: 1180px) {
  .img, header{
    width: 100vw;;
    margin: auto;
  }
  .main img {
    width: 100vw;
  }
  .p1, .p2, .p3{
    width: 100vw;
    font-size: 20px;
  }
  .figure1, .figure2, .figure3, .figure4{
    visibility: visible;
    width: 47vw;
  }
  .figure4{
    margin-left: 20px;
  }
  .ignore{
    width: 0px;
    height: 0px;
    display: none;
  }
}
@media screen and (max-width: 1040px) {
  .title{
    margin-top: 0px;
      margin-left: 20px;
      font-size: 40px;
  }
  nav{
    margin-top: 30px;
  }
  ul{
    width: 650px;
  }
  ul li{
    width: 170px;
  }
  .footer .left p{
    margin-top: 30px;
    font-size: 43px;
  }
  .footer img{
    margin-top: 12px;
    width: 100px;
    height: 100px;
  }
  .footer .right{
    float:none;
  }
  .footer{
    width: 100%;
  }
  .right{
    margin-left: 450px;
  }
  .footer img{
    margin-top: 12px;
    width: 100px;
    height: 100px;
  }

}
@media screen and (max-width: 768px) {

  .main img {
    width: 100vw;
  }
  .ignore{
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
  .figure1, .figure2, .figure3, .figure4{
    visibility: visible;
    width: 45vw;
  }
  .footer .left{
    float:none;
  }
}

@media screen and (max-width: 320px) {
  .main img {
    width: 100vw;
  }
  ul{
    width: 580px;
  }
  ul li{
    width: 160px;
  }
  .ignore{
    width: 0px;
    height: 0px;
    display: none;
  }
  .figure1, .figure2, .figure3, .figure4{
    visibility: visible;
    width: 30vw;
  }
  .figure4{
    margin-left: 20px;
  }

}
